<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
    <title>안내</title>
</head>
<body>
    <p>조사에 참여해 주셔서 감사합니다!</p>
    <p>조사를 시작하기 전, 숙지하셔야 할 사항을 알려드리겠습니다.</p>
    <h1><b>1. 조사는 한 번만 참여해 주세요!</b></h1>
    <h1><b>2. 글을 전부 읽은 후 [문제 보기] 버튼을 눌러주세요!</b></h1>
    <p>글은 전부 4개, 각 글당 문제는 5개입니다.</p>
    <Button onclick="location.href = 'page'">문제 풀기</Button>
</body>
</html>